* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #e5e5e5;
  font-family: sans-serif;
  color: #333;
}
article {
  background-color: #fff;
  border-radius: 35px;
  margin: 20px;
  padding: 20px;
}
img {
  border-radius: 15px;
  width: 180px;
  aspect-ratio: 1;
}
h2 {
  text-transform: uppercase;
  margin: 40px 0 23px;
}
p {
  font-size: 1.3rem;
}
p.account {
  font-size: 1.1rem;
  color: #999;
  margin: 15px 0 10px;
}
button {
  border: none;
  background: none;
  width: 30px;
  color: rgb(87, 157, 273);
}
